body {
    background-color: #f9f7fe;
    font-family: "Roboto", sans-serif;
}

.weather-app {
    background-color: white;
    max-width: 600px;
    margin: 80px auto;
    padding: 40px;
    box-shadow: 0 30px 50px #41326414;
    border-radius: 16px;
}